_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
docs.html
postx.html
attachments/
Gemfile.lock
.vscode/
_prodDeploy/
_prodDeploy

# This index file is built automatically with Github actions
# Therefore there is no need to push this file to the repo
search_index.json
search_index_financials.json

# python related ignores
__pycache__/
.pytest_cache/
.cache/

# logs
*.log