  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="http://www.gointerject.com">INTERJECT HOME</a></li>
                        <li><a href="http://www.gointerject.com/#whatwedobest">WHAT WE DO BEST</a></li>
                        <li><a href="http://www.gointerject.com/#benfits">BENFITS</a></li>
                        <li><a href="http://www.gointerject.com/#whatwedobest">WHAT OUR CLIENTS SAY</a></li>
                        <li><a href="http://www.gointerject.com/#whatwedobest">UPCOMING EVENTS</a></li>
                        <li class="break"></li>
                        <li><a href="http://www.gointerject.com/kids-coding-clubs/">Kids Coding Club</a></li>
                        <li><a href="http://www.gointerject.com/helping-you-master-technology/">Tech Talks</a></li> 
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                            <li><a href="http://www.gointerject.com">INTERJECT HOME</a></li>
                            <li><a href="http://www.gointerject.com/#whatwedobest">WHAT WE DO BEST</a></li>
                            <li><a href="http://www.gointerject.com/#benfits">BENFITS</a></li>
                            <li><a href="http://www.gointerject.com/#whatwedobest">WHAT OUR CLIENTS SAY</a></li>
                            <li><a href="http://www.gointerject.com/#whatwedobest">UPCOMING EVENTS</a></li>
                            <li class="break"></li>
                            <li><a href="http://www.gointerject.com/kids-coding-clubs/">Kids Coding Club</a></li>
                            <li><a href="http://www.gointerject.com/helping-you-master-technology/">Tech Talks</a></li> 
                
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="http://www.gointerject.com">INTERJECT HOME</a></li>
                        <li><a href="http://www.gointerject.com/#whatwedobest">WHAT WE DO BEST</a></li>
                        <li><a href="http://www.gointerject.com/#benfits">BENFITS</a></li>
                        <li><a href="http://www.gointerject.com/#whatwedobest">WHAT OUR CLIENTS SAY</a></li>
                        <li><a href="http://www.gointerject.com/#whatwedobest">UPCOMING EVENTS</a></li>
                        <li class="break"></li>
                        <li><a href="http://www.gointerject.com/kids-coding-clubs/">Kids Coding Club</a></li>
                        <li><a href="http://www.gointerject.com/helping-you-master-technology/">Tech Talks</a></li> 
                
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li>CONTACT INFO</li>
                        <li><strong>Office:</strong> (855) 546-0036</li>
                        <li><strong>Fax:</strong>  (360) 838-9459</li>
                        <li><strong>Address:</strong> 1404 NE 134th St. Suite 200, </li>
                        <li>Vancouver, WA 98685</li> 
                        <li><strong>E-mail:</strong> info@gointerject.com</li>
                
                    </ul>
                </div>
            </div>





            
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="http://status.docker.com/">Status</a></li>
                        <li><a href="https://www.docker.com/docker-security">Security</a></li>
                        <li><a href="https://www.docker.com/legal">Legal</a></li>
                        <li><a href="https://www.docker.com/company/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a href="http://twitter.com/docker">Twitter</a></li>
                    <li class="fa fa-youtube"><a href="http://www.youtube.com/user/dockerrun">Youtube</a></li>
                    <li class="fa fa-google-plus"><a href="https://plus.google.com/u/0/communities/108146856671494713993">Google</a></li>
                    <li class="fa fa-github"><a href="https://github.com/docker/docker">Github</a></li>
                    <li class="fa fa-linkedin"><a href="https://www.linkedin.com/company/docker">Linkedin</a></li>
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/docker.run">Facebook</a></li>
                    <li class="fa fa-reddit"><a href="http://www.reddit.com/r/docker">Reddit</a></li>
                    <li class="fa fa-slideshare"><a href="http://www.slideshare.net/docker">Slideshare</a></li>
                </ul>
            </div>
        </div>
    </div>
