  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div id="footerdiv" class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><h4>GENERAL</h4></li>
                        <li><a href="https://www.gointerject.com">INTERJECT HOME</a></li>
                        <li><a href="https://www.gointerject.com/#whatwedobest">WHAT WE DO BEST</a></li>
                        <li><a href="https://gointerject.com/#benefitsyoucanbankon">BENFITS</a></li>
                        <li><a href="https://gointerject.com/#whatourclientssay">WHAT OUR CLIENTS SAY</a></li>
                        <li><a href="https://gointerject.com/#upcomingevents">UPCOMING EVENTS</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://gointerject.com/#whatmatterstous"><h4>WHAT MATTERS TO US</h4> </a></li>
                        <li><a href="https://gointerject.com/helping-you-master-technology/">Mastering Technology</a></li>
                        <!--<li><a href="https://gointerject.com/helping-you-master-technology/">Attend Next Event</a></li>-->
                        <li><a href="https://gointerject.com/helping-you-master-technology/learn-on-your-own/">Learn On Your Own</a></li>
                        <li><a href="https://www.gointerject.com/kids-coding-clubs/">Kids Coding Club</a></li>
                        <li><a href="https://www.gointerject.com/helping-you-master-technology/">Tech Talks</a></li> 
                        <!-- <li><a href="http://www.gointerject.com/#whatwedobest">Reserve Your Spot</a></li> -->
                        <li><a href="https://gointerject.com/kids-coding-clubs/start-your-own-club/">Start Your Own Club</a></li>
                        <!-- <li><a href="https://gointerject.com/#whatmatterstous">Never Standing Still</a></li>  -->
                        <li><a href="https://gointerject.com/never-stand-still-blog/">Our Blog</a></li> 
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><h4>YOUR TEAM</h4></li>
                        <li><a href="https://gointerject.com/meet-us/">Meet Us</a></li>
                        <li><a href="https://gointerject.com/join-us/">Join Us</a></li>
                        <li><a href="https://gointerject.com/call-us/">Call Us</a></li>
                        <li><h4>SUPPORT</h4></li>
                        <li><a href="">Wiki / FAQ</a><span style="font-size:10px;padding-left: 7px;">(Coming Soon)</span></li>
                        <li><a href="">For Developers</a><span style="font-size:10px;padding-left: 7px;">(Coming Soon)</span></li>
                        <!-- <li class="break"></li> -->
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><h4>CONTACT INFO</h4></li>
                        <li><strong>Office:</strong> (855) 546-0036</li>
                        <li><strong>Fax:</strong>  (360) 838-9459</li>
                        <li><strong>Address:</strong> 1404 NE 134th St. Suite 200, </li>
                        <li>Vancouver, WA 98685</li> 
                        <li><strong>E-mail:</strong> info@gointerject.com</li>
                    </ul>
                </div>
            </div>
            
            <!-- ****** This Section is setup for 'the fine text' links ****** -->
            <!--
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="">Status</a></li>
                        <li><a href="">Security</a></li>
                        <li><a href="">Legal</a></li>
                    </ul>
                </nav>
            </div>
            -->
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright © 2018 INTERJECT Inc. All Rights Reserved.
                </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a href="https://twitter.com/gointerject">Twitter</a></li>
                    <li class="fa fa-youtube"><a href="https://www.youtube.com/user/gointerject">Youtube</a></li> 
                    <li class="fa fa-github"><a href="https://github.com/gointerject">Github</a></li>
                    <li class="fa fa-linkedin"><a href="https://www.linkedin.com/company/gointerject">Linkedin</a></li>
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/gointerject">Facebook</a></li>  
                </ul>
            </div>
        </div>
    </div>
